/* Header styles */
.header {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 0; /* Ensure title stays aligned with navbar */
  }
  
  /* Navigation styles */
  .nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .nav-link {
    text-decoration: none;
    height: 30px;
    width: 95px;
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    border: 2px solid rgb(117, 88, 29);
    border-radius: 15%;
    padding: 3px;
    background-color: rgb(241, 230, 216);
    transition: color 0.3s ease, transform 0.3s ease; /* Add transform transition */
  }
  .nav-link-0 {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(117, 88, 29);
    transition: color 0.3s ease, transform 0.3s ease; /* Add transform transition */
  }
  
  .nav-link:hover {
    color:rgb(204, 153, 51);
    transform: translateY(-3px); /* Slight hover effect */
  }
  
  .icon {
    font-size: 1.7rem;
    vertical-align: middle;
    color: rgb(117, 88, 29);
    transition: color 0.3s ease, transform 0.3s ease; /* Icon hover transition */
  }
  
  .icon:hover {
    color:rgb(204, 153, 51);
    transform: translateY(-3px); /* Slight hover effect for icon */
  }
  